<h1>All Events</h1>

<% if @events.any? %>
  <ul>
  <% @events.each do |event| %>
    <li>
      Location: <strong><%= link_to event.location, event_path(event) %></strong> - <%= event.date %> (<%= event.private? ? 'private' : 'public' %> event)

      <% if user_signed_in? %>
        <% if current_user == event.creator %>
          <%= link_to 'Edit', edit_event_path(event) %>
          <%= button_to 'Delete', event_path(event), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
        <% else %>
          <% if current_user.attended_events.include?(event) %>
            <% invitation = current_user.invitations.find_by(event_id: event.id) %>
            <%= button_to 'Cancel', event_invitation_path(event, invitation), method: :delete %>
          <% else %>
            <%= button_to 'Attend', event_invitations_path(event), params: { invitation: { event_id: event.id } }, method: :post %>
          <% end %>
      <% end %>
      <% end %>
    </li>
    <% end %>
  </ul>
<% else %> 
  <p>No events planned yet.</p>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Create Event', new_event_path %>

  <p>Logged in as: <%= current_user.email %></p>
  <p><%= button_to 'Go to my dashboard', user_path(current_user), method: :get %> </p>
  <%= button_to 'Log out', destroy_user_session_path, method: :delete%>
<% else %> 
  <%= link_to 'Log in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
