<h1>New Event</h1>

<%= form_with model: @event do |form| %>
  <div>
    <%= form.label :date %><br>
    <%= form.datetime_select :date %>
    <% @event.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_field :location %><br>
    <% @event.errors.full_messages_for(:location).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :private, 'Private event?' %>
    <%= form.check_box :private %>    
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
