<h1>Event Info</h1>

<p>Location: <strong> <%= @event.location %> </strong> - <%= @event.date %> </p>
<p>This event is 
    <% if @event.private? %>
      private.
    <% else %>
      public.
    <% end %>
</p>

<h2>Attendees</h2>
<% if @event.attendees.any? %>
  <ul>
    <li><%= @event.creator.email %> (Host)</li>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee.email %></li>
      <% end %>
  </ul>
  <% else %> 
    <p>So far, only <%= @event.creator.email %>, the host, is attending. </p>
  <% end %>

<% if user_signed_in && @event.creator?(current_user) %>
  <h2>Manage Invitations</h2>
  <%= link_to 'Invite People', new_event_invitation_path(@event) %>
<% end %>
