<h1>Event Info</h1>

<p>Location: <strong> <%= @event.location %> </strong> - <%= @event.date %> </p>

<h2>Attendees</h2>
<% if @event.attendees.any? %>
  <ul>
    <li><%= @event.creator.email %></li>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee.email %></li>
      <% end %>
  </ul>
  <% else %> 
    <p>So far, only <%= @event.creator.email %>, the host, is attending. </p>
  <% end %>
