<h1>New Invitation</h1>

<p>Extend an invitation to someone for your event <%= event.location %></p>

<%= form_with model: [@event, @invitation] do |form| %>
  <div>
    <%= form.label :user_id, 'Select person to invite' %><br>
    <%= form.collection_select :user_id %>
    <% @invitation.errors.full_messages_for(:attendee).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
